/* Adaptivity */
.main-welcome-image {
  --image-min: 300;
  --image-max: 500;

  --image-size: calc(
    var(--image-min) * 1px + (var(--image-max) - var(--image-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  height: clamp(
    var(--image-min) * 1px,
    var(--image-size),
    var(--image-max) * 1px
  );
}

.main-welcome-text {
  --text-min: 32;
  --text-max: 48;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}

.main-visit-appointment p {
  --text-min: 14;
  --text-max: 17;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );

  --width-min: 30;
  --width-max: 90;

  --width: calc(
    var(--width-min) * 1% + (var(--width-max) - var(--width-min)) / (100% - 0px) *
      (1920 - 480)
  );

  width: clamp(var(--width-min) * 1%, var(--width), var(--width-max) * 1%);
}

.main-pros {
  --card-width-min: 300;
  --card-width-max: 383;

  --card-width: calc(
    var(--card-width-min) * 1px +
      (var(--card-width-max) - var(--card-width-min)) * (100vw - 480px) /
      (1920 - 480)
  );

  --card-width-restricted: clamp(
    var(--card-width-min) * 1px,
    var(--card-width),
    var(--card-width-max) * 1px
  );
}

.main-pros-title {
  --text-min: 20;
  --text-max: 48;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}

.main-pros-title .lower-text {
  --text-min: 11;
  --text-max: 16;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}

.main-pros-card {
  --text-min: 16;
  --text-max: 20;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}

.feedback-form p {
  --text-min: 18;
  --text-max: 30;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}
/* End adaptivity */

.main-welcome-image {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../images/woman_on_bike.webp");
  background-position: bottom;
  background-size: cover;
}

.main-welcome-text {
  text-align: center;

  color: white;
}

.main-welcome-text .lower-text {
  font-size: 0.4em;

  padding-top: 6px;
}

.main-visit-appointment {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: black;

  padding-top: 5% !important;
  padding-bottom: 5% !important;

  border: 0.5px solid grey;
}

.main-pros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.main-pros-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 0.5em;

  color: black;
}

.main-pros-cards {
  width: 100%;

  --card-padding: 20px;
  --card-width-padding: calc(
    var(--card-width-restricted) + var(--card-padding) * 2
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--card-width-padding), 1fr)
  );

  gap: 20px;
}

.main-pros-card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main-pros-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding: var(--card-padding);
  gap: 20px;

  background-color: #f7f7f7;

  width: var(--card-width-padding);
}

.main-pros-card img {
  width: 100%;
}

.main-pros-card-text-title,
.main-pros-card-text {
  width: 50%;

  color: black;
}

.main-pros-card-text {
  font-size: 0.7em;
}

@media (min-width: calc(0.03 * 100vw * 2 + clamp(300px, (300px + (383 - 300) * (100vw - 480px) / (1920 - 480)), 383px) * 2 + 20px + 20px * 4)) and (max-width: calc(0.03 * 100vw * 2 + clamp(300px, (300px + (383 - 300) * (100vw - 480px) / (1920 - 480)), 383px) * 3 + 20px * 6 + 20px * 2)) {
  .main-pros-card-container:nth-child(3) {
    grid-column: span 2;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;

  background-color: black;
}

.feedback-form p {
  text-align: center;

  padding-top: 2%;

  color: white;
}

.feedback-form .form {
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 20px;

  padding-bottom: 3%;
}

.form .form-group {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 10px;
}

.form .form-group input,
textarea {
  width: 100%;

  appearance: none;
  outline: none;
  border: none;

  background-color: transparent;

  border-bottom: 1px solid white;

  color: white;

  padding: 6px;
}

.form .form-group textarea {
  min-width: 100%;
  max-width: 100%;

  height: 65px;

  min-height: 65px;
  max-height: 65px;
}

.feedback-form .form button {
  width: 100%;
  height: 50px;

  font-size: 14px;
}
