/* Adaptivity */
.rent-products-cards {
  --card-width-min: 300;
  --card-width-max: 383;

  --card-width: calc(
    var(--card-width-min) * 1px +
      (var(--card-width-max) - var(--card-width-min)) * (100vw - 480px) /
      (1920 - 480)
  );

  --card-width-restricted: clamp(
    var(--card-width-min) * 1px,
    var(--card-width),
    var(--card-width-max) * 1px
  );
}

.rent-products-text {
  --text-min: 24;
  --text-max: 48;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}

.rent-products-card-text-name {
  --text-min: 16;
  --text-max: 20;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}

.rent-products-card-text-prices {
  --text-min: 11;
  --text-max: 14;

  --text-size: calc(
    var(--text-min) * 1px + (var(--text-max) - var(--text-min)) *
      (100vw - 480px) / (1920 - 480)
  );

  font-size: clamp(
    var(--text-min) * 1px,
    var(--text-size),
    var(--text-max) * 1px
  );
}
/* End adaptivity */

.rent-products {
  display: flex;
  flex-direction: column;

  gap: 30px;

  color: black;
  text-align: center;
}

.rent-products-text {
  padding-top: 0.5em;
}

.rent-products-cards {
  width: 100%;

  --card-padding: 20px;
  --card-width-padding: calc(
    var(--card-width-restricted) + var(--card-padding) * 2
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--card-width-padding), 1fr)
  );

  gap: 20px;
}

.rent-products-card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.rent-products-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--card-padding);
  gap: 20px;

  background-color: #f7f7f7;

  width: var(--card-width-padding);
}

.rent-products-card img {
  width: 100%;
}

.rent-products-card-text-prices {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
